<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:  #4d4d4d;">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <div class="sidebar">
            <br><br><a class="sidebar-list" href="#">BEST SELLERS</a><br><br>
            <a class="sidebar-list" href="#">NEW RELEASES</a><br><br>
            <a class="sidebar-list" href="#">NOVELS</a><br><br>
            <a class="sidebar-list" href="#">JOURNALS</a><br><br>
            <a class="sidebar-list" href="#">FICTION</a><br><br>
            <a class="sidebar-list" href="/">LOGOUT ➡</a>
          </div>
              <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div> -->
          </div>
      </div>
      <div style="width: 83%;">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;margin-top: 5%;">
              <img src="https://i.pinimg.com/564x/3d/ea/18/3dea1839a2b671c6b6778fac89648337.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Wings Of Fire</h5>
                <p class="card-text">A P J Abdul Kalam</p>
                <h6>Rs 399</h6>
                <a href="#" class="btn" style="background-color: #4d4d4d;color: white;">Add To Cart</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;margin-top: 5%;">
              <img style="height: -20%;" src="https://i.pinimg.com/564x/2a/00/5d/2a005d57dc6b4b3fc4fbf72f72363741.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">I Am Malala</h5>
                <p class="card-text">Malala Yousafzai</p>
                <h6>Rs 350</h6>
                <a href="#" class="btn" style="background-color: #4d4d4d;color: white;">Add To Cart</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;margin-top: 5%;">
              <img src="https://i.pinimg.com/564x/a6/67/18/a667184d0935ba6150017536116ebac0.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Verity</h5>
                <p class="card-text">Colleen Hoover</p>
                <h6>Rs 400</h6>
                <a href="#" class="btn" style="background-color: #4d4d4d;color: white;">Add To Cart</a>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;margin-top: 5%;">
              <img src="https://i.pinimg.com/564x/0f/83/f7/0f83f7d1b475af8f4fd01b9fc7c6f637.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Oliver Twist</h5>
                <p class="card-text">Charles Dickens</p>
                <h6>Rs 599</h6>
                <a href="#" class="btn" style="background-color: #4d4d4d;color: white;">Add To Cart</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;margin-top: 5%;">
              <img style="height: -20%;" src="https://i.pinimg.com/564x/23/c8/65/23c865d817921d2ebeba772acf7231a1.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Collection Of Short Stories</h5>
                <p class="card-text">Masooda Rahman Khan</p>
                <h6>Rs 200</h6>
                <a href="#" class="btn" style="background-color: #4d4d4d;color: white;">Add To Cart</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;margin-top: 5%;">
              <img src="https://i.pinimg.com/564x/ff/a3/11/ffa3116e2a9efb75aedb28f76b830405.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">The Alchemist</h5>
                <p class="card-text">Paulo Coelho</p>
                <h6>Rs 600</h6>
                <a href="#" class="btn" style="background-color: #4d4d4d;color: white;">Add To Cart</a>
              </div>
            </div>
          </div>
        </div>


      </div>
  </div>

</div>
